* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0;
  line-height: 1.5;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* display: grid;
  place-items: center; */
}

.container {
  width: 700px;
  height: 600px;
  display: block;
  margin-top: 10%;
  /* border: 1px solid #055eb4; */
  box-shadow: 15px 15px 30px #afafaf, -15px -15px 30px #ffffff;
  background-color: #e0e0e0;
  border-radius: 38px;
}
.header {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 50px;
  color: #2e80b3;
}
h4 {
  color: #2e80b3;
}
p {
  font-size: 25px;
  color: #2e80b3;
}
span {
  font-size: 18px;
}
.my-quotes {
  width: 100%;
  height: 30%;
  /* overflow: auto;
  display: inline-block; */
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 30px 20px;
}
#quote {
  text-align: center;
}
.search-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
input {
  width: 60%;
  margin: 0 20px;
  letter-spacing: 0.1rem;
  font-family: "Space Mono", monospace;
  background-color: #c7e0f8;
  color: #0776de;
  font-weight: 700;
  transition: opacity 300ms ease-in-out;
  border: 1px solid #055eb4;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  padding: 0.75rem 1.25rem;
  outline: none;
}
button {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  background-color: #2e80b3;
  color: white;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
  box-shadow: 6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
button:hover {
  color: #fff;
  background: #222;
}
.btn-btn {
  margin: 20px 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
    margin: 0px;
  }
  .intro {
    /* font-size: 20px;
    text-align: center; */
    visibility: hidden;
    display: none;
  }
  .btn-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn-2 {
    margin-top: 10px;
  }
  .btn-3 {
    margin-top: 10px;
  }
  h4 {
    margin: 0;
    padding: 0;
    overflow: auto;
    display: inline-block;
  }

  .my-quotes {
    padding: 10px inherit;
    align-items: center;
    font-size: 12px;
    margin-right: 25px;
  }
}
